h1{
    background-color: aquamarine;
    text-align: center;
    border-radius: 3px;
    border: 2px solid black;
}


h2{
    background-color: blue;
    color: yellow;
    text-align: center;
    border-radius: 4px;
    border: solid black;
}


button{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
}


  