*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.katta {
    width: 100%;
    height: 500px;
    background-color: grey;
    
}
.ortacha{
    
    width: 100%;
    height: 460px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bol1{
    width: 100%;
    height: 20px;
    background-color: yellow;
}

.bol2{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol3{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol4{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol5{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol6{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol7{
    width: 50px;
    height: 10px;
    background-color: white;
}
.bol8{
    width: 50px;
    height: 10px;
    background-color: white;
}
.goy{
    width: 100%;
    height: 20px;
    background-color: white;
}


.bol9{
    width: 100%;
    height: 20px;
    background-color: yellow;
}
